@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root {
  --color-primary: #D25353;
  --color-text: #FFEAD3;
}

body{
  font-family: var(--font-jost);
}

button{
  cursor: pointer;
}

.hover-line {
  position: relative;
  cursor: pointer;
}

.hover-line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: var(--color-text);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.hover-line:hover::after {
  transform: scaleX(1);
}


/*-------  For Like Animation   ---------*/

.anime{
  color: aqua;
}

/* global.css */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    max-height: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    max-height: 30vh;
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
    max-height: 30vh;
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
    max-height: 0;
  }
}

.animate-slide-in {
  animation: slideIn 0.3s ease-out forwards;
}

.animate-slide-out {
  animation: slideOut 0.3s ease-in forwards;
}
